.box-footer {
    width: 100vw;
    height: 400px;
    background-image: url('/images/footer-bg.jpg');
    background-color: darkgray;
    background-repeat: no-repeat;
    background-size: 100%;
  
      .container {
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
}